//https://blog.logrocket.com/sass-react-native-guide/
.timer{
  display: flex;
  padding: 5px;
}

.timerTime{
  display: flex;
  align-items: center; //horizontal align content
  justify-content: center;//vertical align content
  align-self: center; //horizontally align self
  //background-color: aqua;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 50px;
  //height: 100%;
  border: 2px solid white;
  //height: 250px;
  //width: 250px;
  //border-radius: 125px;
  //height: 250px;
  //width: 1vw;
  //border-radius: 125px;
}
//
//.timerTime{
//  display: flex;
//  align-items: center; //horizontal align content
//  justify-content: center;//vertical align content
//  align-self: center; //horizontally align self
//  //background-color: aqua;
//  padding-left: 10px;
//  padding-right: 10px;
//  font-size: 50px;
//  //height: 100%;
//  height: 250px;
//  width: 250px;
//  border-radius: 125px;
//  border: 2px solid white;
//}

.timeText{
  font-size: 50px;
  color: white;
  //font-family: Montserrat-Regular;
}

.timerButtons{
  display: flex;
  flex-direction: row;
  padding: 25px;
  //justify-content: space-between;
  color: black;
}

.timerButtonsColumn{
  display: flex;
  flex: 1;

}

.timerButton{
  display: flex;
  //flex: 1;
  justify-content: center;//vertical
  align-items: center;
  align-content: center;
  align-self: center;
  height: 70px;
  width: 70px;
  margin: 5px;
  padding: 10px;
  border-radius: 50px;
}

.timerButtonIcon{
  color: black;
}

