@import "./src/style/common";

.button{
  background-color: $buttonBackgroundColor;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid $buttonBorderColor;
  align-items: center;//horizontally center
}

.buttonText{
  @extend %font;
}