@import "../common";

.iconButton{
  background-color: $iconButtonBackgroundColor;
  width: 40px;
  padding: 10px;
  display:flex;
  align-items: center;
  border-radius: 7px;
  border: 1px solid $iconButtonBorderColor;
}

.icon{
  color: $iconButtonColor;
}