@import "./src/style/common";

.iconButton{
  background-color: rgb(173, 172, 172);
  width: 40px;
  padding: 10px;
  display:flex;
  align-items: center;
  border-radius: 7px;
  border: 1px solid rgb(134, 134, 134);
}

.icon{
  color: rgb(212, 68, 64);
}