@import "./src/style/common";

.modal{
  background-color: $modalBackgroundColor;
  display: flex;
  //justify-content: center; //vertical
  align-items: center;
  position: absolute;
  //top: 0;
  //left: -10;//fix padding on container?
  padding-top: 50px;
  height: 100%;
  width: 100%;
  z-index: 1000;
}


.modalWindow{
  background-color: $modalWindowBackgroundColor;
  width: 95%;
  //height: 75%;
  margin-top: 20px;
  border-radius: 15px;
  padding: 10px;
}

.modalCloseButton{
  position: absolute;
  right: 0;
  background-color: transparent;
  border: 0px solid transparent;
  z-index: 100;
}

.modalCloseButtonIcon{
  color: $modalCloseButtonIconColor;
}

//.blurView{
//  position: absolute;
//  left: 0;
//  top:0;
//  height: 100%;
//  width: 100%;
//  z-index: 11;
//}
